/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  padding: 0;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #00aaff, #00ff6c);
  background-size: 400% 400%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  animation: gradient 5s ease infinite;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Calculator body */
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* Calculator buttons */
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.7);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

button.number-functions {
  background-color: #f15c21;
}
button.number-functions:hover {
  background-color: #ee7752;
}

.span-two {
  grid-column: span 2;
}

/* Screen output */
.screen-output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-output > .previous-entry {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.screen-output > .current-entry {
  font-size: 2.5rem;
  color: rgba(255, 255, 255);
}

/* Animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
